@model CarpAssociationWebsite.Models.EconomyAccountInterest

@{
    ViewBag.Title = "Create";
}

<div class="container">

    <!-- Tittle screen -->
    <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="~/Content/Images/interest_percent_logo.png" alt="" width="100" height="100">
        <h2>New interest rate for Economy Accounts</h2>
        <p class="lead">
            Enter the new interst rate bellow
        </p>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form">
            <div class="form-row">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.Percentage, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Percentage, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Percentage, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>

            <div class="form-group row">
                <div class="col-md-6">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>

                <div class="col-md-6">
                    <a href="@Url.Action("InterestRateDashboardIndex", "InterestRatesDashboard")">Back to interests dashboard</a>
                </div>
            </div>
        </div>
    }


</div>
