@model IEnumerable<CarpAssociationWebsite.Models.EconomyAccount>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Member.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalSavings)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateStarted)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Member.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalSavings)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateStarted)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EconomyAccountId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EconomyAccountId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EconomyAccountId })
        </td>
    </tr>
}

</table>
