@model CarpAssociationWebsite.ViewModels.InterestRatesViewModel
@{
    ViewBag.Title = "InterestRateDashboardIndex";
}


@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- New version of Data Tables added bellow -->

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.24/b-1.7.0/b-html5-1.7.0/b-print-1.7.0/r-2.2.7/sc-2.0.3/datatables.min.css" />

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.24/b-1.7.0/b-html5-1.7.0/b-print-1.7.0/r-2.2.7/sc-2.0.3/datatables.min.js"></script>



    <!-- (document).ready checks the DOM of the page and when is ready it executes the JS code. -->
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tableEconomyAccountInterestTable').DataTable({
                dom: 'lBfrtip',

                "scrollX": true,
                "scrollY": 210,
                "order": [],
                "columnDefs": [{
                    "targets": 'no-sort',
                    "orderable": true,
                }],
                buttons: [
                    'csv', 'excel', 'pdf', 'print'
                ]
            });
        });

        $(document).ready(function () {
            $('#tableLoanRateInterestTable').DataTable({
                dom: 'lBfrtip',
                "scrollX": true,
                "scrollY": 210,
                "order": [],
                "columnDefs": [{
                    "targets": 'no-sort',
                    "orderable": true,
                }]
            });
        });
    </script>

}


<div class="alert alert-primary" role="alert">
    Dear employee, remember that the Economy Account Interest must be updated every year,
    and that the Loan rate Interest must be updated every month!
</div>

<!-- Add new interest rate zone -->
<!-- No longer here, moved next to each tables -->
<!-- Economy Account Interest -->

<div class="container">
    <h2><b>Economy Account Interests</b></h2>

    <a href="@Url.Action( "Create", "EconomyAccountInterest")" class="btn btn-success btn-lg btn-block">Add new economy account interest rate</a>
    <br />

    <table id="tableEconomyAccountInterestTable" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th scope="col">
                    Date
                </th>
                <th scope="col">
                    Interest %
                </th>
                <th class="no-sort text-center" scope="col">
                    Options
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CurrentEconomyAccountInterests)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Percentage)
                    </td>
                    <td class="text-center">
                        <a href="@Url.Action("Delete", "EconomyAccountInterest", new { id = item.Id})">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br />

<!-- Loan Rate Interest -->

<br />
<div class="container">
    <h2>Loan rate Interests</h2>

    <a class="btn btn-success btn-lg btn-block" href="@Url.Action("Create", "EconomyAccountInterest")">Add new economy account interest rate</a>
    <br />

    <table id="tableLoanRateInterestTable" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th scope="col">
                    Date
                </th>
                <th scope="col">
                    Interest %
                </th>
                <th class="no-sort text-center" scope="col">
                    Options
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CurrentLoanRateInterests)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Percentage)
                    </td>
                    <td class="text-center">

                        <a href="@Url.Action("Delete", "LoanRateInterest", new { id = item.Id })">Delete</a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>