@{
    ViewBag.Title = "Home Page";
}

@section HomeScreenCards{
    <link href="@Url.Content("~/Content/CustomCssStyles/homescreenCards.css")" rel="stylesheet" type="text/css" />
}

<div class=" bg-transparent text-center">
    <img class="img-responsive" src="~/Content/Images/pension-fund-cartoon.jpg" />
</div>

<!-- Here display a dashboard for the Carp employee with his operations -->

    <div id="cards_landscape_wrap-2">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <a href="@Url.Action("Create", "Member")">
                        <div class="card-flyer">
                            <div class="text-box">
                                <div class="image-box">
                                    <img src="~/Content/Images/businessman.png" alt="" />
                                </div>
                                <div class="text-container">
                                    <h6>Add new member</h6>
                                    <p>Add a new member to the association.</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <a href="@Url.Action("Create", "Loan")">
                        <div class="card-flyer">
                            <div class="text-box">
                                <div class="image-box">
                                    <img src="~/Content/Images/pay.png" alt="" />
                                </div>
                                <div class="text-container">
                                    <h6>Give loan</h6>
                                    <p>Give a loan to member based on his needs and possibilities.</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <a href="@Url.Action("Create", "EconomyAccount")">
                        <div class="card-flyer">
                            <div class="text-box">
                                <div class="image-box">
                                    <img src="~/Content/Images/profit.png" alt="" />
                                </div>

                                <div class="text-container">
                                    <h6>Start savings account</h6>
                                    <p>Open a savings account for an existing member.</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
            <div class="row justify-content-center">
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <a href="@Url.Action("ActiveLoansAndEconomyAccountsIndex", "ActiveLoansAndEconomyAccounts")">
                        <div class="card-flyer">
                            <div class="text-box">
                                <div class="image-box">
                                    <img src="~/Content/Images/active_loan_account.jpg" alt="" />
                                </div>
                                <div class="text-container">
                                    <h6>Active loans and economy accounts</h6>
                                    <p>Pay rates or close an economy accounts.</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <a href="@Url.Action("InterestRateDashboardIndex", "InterestRatesDashboard")">
                        <div class="card-flyer">
                            <div class="text-box">
                                <div class="image-box">
                                    <img src="~/Content/Images/interest_percent.jpg" alt="" />
                                </div>
                                <div class="text-container">
                                    <h6>Update Interest rates</h6>
                                    <p>Update and view Interest rates (economy/loan).</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <a href="@Url.Action("StatisticsAndInformationDashboardIndex", "StatisticsAndInformationDashboard")">
                        <div class="card-flyer">
                            <div class="text-box">
                                <div class="image-box">
                                    <img src="~/Content/Images/stats.jpg" alt="" />
                                </div>

                                <div class="text-container">
                                    <h6>Statistics & Information</h6>
                                    <p>Statistics regarding payments and members.</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>



<!--<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
    -->
